 body {
    font-size: 18px;
	font-family: Georgia, Arial, sans-serif;
	padding: 25px 50px;
	background-color: white;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    right: 15px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

\
/*Blog CSS*/
#blog-header{
	background-color:#A9A9A9;
	padding: 25px;
	color:white;
}

h1{
	text-align: center;
	font-size: 50px;
	text-shadow: 2px 2px 4px #000000;
}

h2{
	text-align: center;
	
}

h3{
	font-family: comic;

}

.grid{
  display:grid;
  background-color:white;
  grid-template-columns: 200px 300px;
  width: auto;
}



.grid .updates{
	display: grid;
	background: white;
	grid-template-columns: 400px 400px 400px;
	height: 250px;
}

.grid .google-stories{
	display:grid;
	grid-template-columns: 800px 500px;
	height:400px;
	grid-column-gap: 10px;
	
}

.top-stories{
	background:white;
	padding: 30px;
	font-size: 50px;
}

#google{
	font-family:Verdana;
	font-size: 35px;
	font-weight:normal;
	
}

#tips{
	text-align:center;
	font-family:arial;
	font-size: 15px;
	
}

#google1{
	font-family:Comic;
	font-size: 70px;
	text-shadow: 2px 2px 4px #000000;
	
}
.empty-div{
	height:100px;
}
#report-issues{
	width: 750px;
	background-color: #eee;
	padding:10px;
}
/*Blog CSS ends*/

/*Bootstrap starts*/

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button#b1 {
    background-color: #428bca;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button#b2 {
    text-decoration: none;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    
}


.cancelbtn {
    width: auto;
    padding: 14px 20px;
    background-color: #f44336;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 10%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}


.modal-content {
    background-color: #fefefe;
    margin: 0% auto 15% auto;
    border: 1px solid #888;
    width: 50%; 
	
}

article {
    margin-left: 100px;
    border-left: 3px ;
    padding: 5em;
    overflow: hidden;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


html {
    height: 100%;
    line-height: 1.8;
}


h1{
    
    position:relative;
   
}

table#t1{
    margin:20px;
}


div.menu {
    background-color: white;
    overflow: none;
    white-space: nowrap;
	position:relative;
	width:100%;
	
}

	
	BUTTON:HOVER{
	BACKGROUND-COLOR:#428bca;
	
	}



.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}


nav#nav1 a:hover {
    background-color:#428bca;
}
/*bootstrap ends*/
